img.imgg {
    width: 100%;
    height: 271px;
    border-radius: 11px;
}




.carousel-indicators {
    display: none;
}


  
  
  .imgg {
    width: 100%;
    height: auto;
  }
  
  .slick-slide {
    padding: 15px;
    transition: all 0.3s;
  }
  
  .slick-slide:hover {
    transform: scale(1.05);
    transition: all 0.3s;
  }
  
  .carousel-caption#caroutop {
    text-align: center;
    position: unset;
}
  

  
  
.nameee {
    font-size: 18px;
    font-weight: bold;
    color:lightblue;
    font-family: monospace;
}


.exp {
    font-size: 15px;
    color:lightcyan;
    font-family: cursive;
}


.retur {
    font-size: 17px;
    font-weight: 500;
    color:lightcyan;
}


.specialization {
    font-size: 14px;
    color:lightblue
}


.imgg {
    width: 100%;
    height: 271px;
    border-radius: 11px;
}


.slick-slide {
    padding: 15px;
    transition: all 0.3s;
}


.slick-slide:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}


.carousel-caption#caroutop {
    text-align: center;
    position: unset;
}


.Top-traders {
    width: 97%;
    margin-left: 18px;
    margin-top: 77px;
}

.Top-traders h2 {
    font-size: 73px;
    font-family: fantasy;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 19px;
}